{% extends 'base.html' %}
{% load staticfiles %}

{% block one %}
<!-- <form class="w3-container w3-card-4 w3-padding-16 w3-white form-horizontal" action="/text2category/#contents" method="POST" style="margin-left: 15%; margin-right: 15%; width: 70%;">{{ form.as_p }}
{% csrf_token %}
<input type="submit" class="w3-button w3-right w3-theme">
</form> -->

<div class="w3-row-padding w3-center w3-padding-64" id="contents">
        <h2><u>TEXT CATEGORIZATION</u></h2>
        <p>Enter the text to categorize:</p><br>
        <div class="w3-col m12 s12" style="text-align: center; margin: auto;">
          <form class="w3-container w3-card-4 w3-padding-16 w3-white form-horizontal" action="/text2category/#contents" method="POST" style="margin-left: 15%; margin-right: 15%; width: 70%;">
            <input type='hidden' name='csrfmiddlewaretoken' value='h1c7erSgVCGQRunXUUD7SXU3oC9w0HYJlsj27XAQIp7gqIeFdDXAAnZ95RyhTTy0' /><tr><th><label for="id_body">Body:</label></th><td><textarea name="body" cols="40" rows="10" required="" id="id_body" style="
              width: 95%;"></textarea></td></tr>
                <input type="submit" class="w3-button w3-right w3-theme">
                </form>
              </div>
            </div> 
{% endblock %}